
//== font size
$detail-price-size: 26px;
$detail-size: 17px;
$xlg-size: 16px;
$lg-size: 15px;
$md-size: 14px;
$sm-size: 13px;
$xs-size: 12px;
$xxs-size: 11px;

//== Colors
//theme color
$main-color: #f08300;
$light-color: darken($main-color,0.6);
$body-bg-color: #efeff4;
$gray-color: #eeeeee;
$addon-color: #a1bd97;

//text color
$text-header-color: #231815;
$text-black-color: #1a1a1a;
$text-gray-color: #666666;
$text-adorn-color: #888888;

//border color
$border-color: #e5e5e5;

//== margin
$x-dis: 10px;
$block-dis: 8px;
$page-margin: 12px;

//price color
$price-color: #ec5428;

