<!-- 加载内容开始 -->
<section>
	<!-- 提示内容开始 -->
	<alert></alert>
	
	<!-- 标题栏结束 -->
	<div class="section-body">
		<!-- 主要内容开始 -->
		<div class="main-body">
			
<!-- 输出内容开始 -->
	<div class="results">
		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
				<p class="results-title"><i></i><span>{{subModuleName}}列表</span></p>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
				<!-- 页面按钮开始 -->
				<btn></btn>
				<!-- 页面按钮结束 -->
			</div>
		</div>
		<div class="result-list"  >
			<div ui-grid="tableGrid" class="grid" ui-grid-pinning ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination></div>
		</div>
	</div>	
			<!-- 输出内容结束-->
		</div>
	</div>
</section>
<!-- 加载内容结束-->
