<!DOCTYPE>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>佳吉快运</title>
<link rel="stylesheet" href="static/css/bootstrap.css" />
<link rel="stylesheet" href="static/css/common.css" />
<script src="static/js/jquery-1.9.1.min.js"></script>
<script src="static/js/	bootstrap.min.js"></script>
<script src="static/js/main.js"></script>
</head>
<body>
	<div class="container-fluid clearfix layout-container">
		<div class="row">
			<div class="header clearfix">
				<div class="logo left">
					<img class="logo-pic" src="static/img/logo.png" alt="">
				</div>
				<div class="top-search left clearfix">
					<span class="left iconfont icon-sousuo"></span> <input type="text"
						value="" class="left"> <input type="button" value="搜索"
						class="right">
				</div>
				<div class="header-user right">
					<a href="javascript:;" class="message-icon"> <i
						class="iconfont icon-xiaoxi"></i> <em>1</em>
					</a> <a href=""> <i class="iconfont icon-mianxingtubiaofanyi"></i>
					</a> <a href="javascript:;" class="skin-icon"> <i
						class="iconfont icon-jinlingyingcaiwangtubiao85 icon-skin"></i>
						<div class="skin-box">
							<span class="skin-box-icon"></span>
							<div class="skin-box-cont">
								<ul class="clearfix">
									<li class="skin-red"></li>
									<li class="skin-yellow"></li>
									<li class="skin-blue"></li>
								</ul>
							</div>
						</div>
					</a> <span> <img src="static/img/icon_03.png" alt=""> <i>张三</i>
						<em>上海徐泾办</em>
						<div class="user-info">
							<div class="ui-cont clearfix">
								<ul>
									<li>职务：收款员</li>
									<li>职员代码：501243</li>
									<li>机构：上海（徐泾办）</li>
									<li>身份证号：2308**********0116</li>
								</ul>
							</div>
							<div class="ui-btn">
								<ul>
									<li><a href=""><i class="iconfont icon-xiugaimima"></i>修改口令</a>
									</li>
									<li><a href=""><i class="iconfont icon-zhuxiao"></i>注销</a>
									</li>
								</ul>
							</div>
						</div>
					</span> <a href="">帮助</a>
				</div>
			</div>
			<div class="nav clearfix">
				<div class="nav-left left">
					<i class="iconfont icon-caidan"></i> <span> 我的工作台
						<div class="work-desk">
							<div class="wd-cont clearfix">
								<ul>
									<li><a href="">业务受理</a></li>
									<li><a href="">办理托运</a></li>
									<li><a href="">笼包管理</a></li>
									<li><a href="">发车管理</a></li>
									<li><a href="">业务受理</a></li>
									<li><a href="">办理托运</a></li>
									<li><a href="">笼包管理</a></li>
									<li><a href="">发车管理</a></li>
									<li><a href="">业务受理</a></li>
									<li><a href="">办理托运</a></li>
									<li><a href="">笼包管理</a></li>
								</ul>
							</div>
							<div class="wd-btn">
								<ul>
									<li><a href=""><i class="iconfont icon-zengjia"></i>增加</a>
									</li>
									<li><a href=""><i class="iconfont icon-shanchu"></i>删除</a>
									</li>
								</ul>
							</div>
						</div>
					</span>
				</div>
				<div class="nav-cont right clearfix">
					<ul>
						<li><a href="" class="active">首页</a></li>
						<li><a href="">OA办公系统</a></li>
						<li><a href="">前台业务</a></li>
						<li><a href="">人事管理</a></li>
						<li><a href="">质量管理</a></li>
						<li><a href="">运营管理</a></li>
						<li><a href="">营销管理</a></li>
						<li><a href="">信息管理</a></li>
						<li><a href="">财务管理</a></li>
						<li><a href="">系统设置</a></li>
						<li><a href="">移动互联</a></li>
					</ul>
				</div>
			</div>
			<div class="left-nav left">
				<div class="nav-list">
					<ul>
						<li><a href="" class="active clearfix"><lable
									class="left">首页</lable></a></li>
						<li><a href="" class="clearfix"><lable class="left">OA办公系统</lable><span
								class="right"></span></a>
							<ul>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
							</ul></li>
						<li><a href="" class="clearfix"><lable class="left">前台业务</lable><span
								class="right"></span></a>
							<ul>
								<li><a href="">业务受理</a></li>
								<li><a href="">办理托运</a></li>
								<li><a href="">笼包管理</a></li>
								<li><a href="">发车管理</a></li>
								<li><a href="">到车管理</a></li>
								<li><a href="">到货通知</a></li>
								<li><a href="">办理退货</a></li>
								<li><a href="">送货签收</a></li>
								<li><a href="">货件查询</a></li>
								<li><a href="">运价查询</a></li>
								<li><a href="">通讯录查询</a></li>
							</ul></li>
						<li><a href="" class="clearfix"><lable class="left">人事管理</lable><span
								class="right"></span></a>
							<ul>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
							</ul></li>
						<li><a href="" class="clearfix"><lable class="left">质量管理</lable><span
								class="right"></span></a>
							<ul>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
							</ul></li>
						<li><a href="" class="clearfix"><lable class="left">运营管理</lable><span
								class="right"></span></a>
							<ul>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
							</ul></li>
						<li><a href="" class="clearfix"><lable class="left">营销管理</lable><span
								class="right"></span></a>
							<ul>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
							</ul></li>
						<li><a href="" class="clearfix"><lable class="left">信息管理</lable><span
								class="right"></span></a>
							<ul>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
							</ul></li>
						<li><a href="" class="clearfix"><lable class="left">财务管理</lable><span
								class="right"></span></a>
							<ul>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
							</ul></li>
						<li><a href="" class="clearfix"><lable class="left">系统设置</lable><span
								class="right"></span></a>
							<ul>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
							</ul></li>
						<li><a href="" class="clearfix"><lable class="left">移动互联</lable><span
								class="right"></span></a>
							<ul>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
								<li><a href="">首页</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
			<div class="right-box">
				<div class="tips">
					<label>{{moduleName}}</label>&gt;<span>{{subModuleName}}</span>
				</div>
				<div class="container-fluid pl10">
					<div class="card-item">
						<div class="card-item-cont">
							<div class="card-item-list search-box clearfix">
								<ul class="row">
									<div>
										<search></search>
									</div>
									<!-- <li class="col-xs-12 col-md-4 col-lg-4">
				 					<label class="card-item-list-name">运单号</label>
				 					<div class="card-item-list-box clearfix">
				 						<input type="text" class="input-text">
				 					</div>	
				 				</li>
				 				<li class="col-xs-12 col-md-4 col-lg-4">
				 					<label class="card-item-list-name">产品名称</label>
				 					<div class="card-item-list-box clearfix">
				 						<input type="text" class="input-text">
				 					</div>
				 				</li>
				 				<li class="col-xs-12 col-md-4 col-lg-4">
				 					<label class="card-item-list-name">货号</label>
				 					<div class="card-item-list-box clearfix">
				 						<input type="text" class="input-text">
				 					</div>
				 				</li>
				 				<li class="col-xs-12 col-md-4 col-lg-4">
				 					<label class="card-item-list-name">起点公司</label>
				 					<div class="card-item-list-box clearfix">
				 						<input type="text" class="input-text">
				 					</div>
				 				</li>
				 				<li class="col-xs-12 col-md-4 col-lg-4">
				 					<label class="card-item-list-name">托运日期</label>
				 					<div class="card-item-list-box clearfix">
				 						<input type="text" class="input-text short-text"><span>—</span><input type="text" class="input-text short-text">
				 					</div>
				 				</li>
				 				<li class="col-xs-12 col-md-4 col-lg-4">
				 					<label class="card-item-list-name">产品名称</label>
				 					<div class="card-item-list-box clearfix">
				 						<input type="text" class="input-text">
				 					</div>
				 				</li>
				 				<li class="col-xs-12 col-md-4 col-lg-4">
				 					<label class="card-item-list-name">货号</label>
				 					<div class="card-item-list-box clearfix">
					 					<select name="" id="" class="select">
					 						<option value="">111</option>
					 						<option value="">222</option>
					 						<option value="">333</option>
					 						<option value="">444</option>
					 					</select>
									</div>
				 				</li>
				 				<li class="col-xs-12 col-md-4 col-lg-4">
				 					<label class="card-item-list-name">起点公司</label>
				 					<div class="card-item-list-box clearfix">
				 						<input type="text" class="input-text">
				 					</div>
				 				</li>
				 				<li class="col-xs-12 col-md-4 col-lg-4">
				 					<label class="card-item-list-name">起点公司</label>
				 					<div class="card-item-list-box clearfix">
				 						<input type="text" class="input-text">
				 					</div>
				 				</li>
				 				<li class="col-xs-12 col-md-4 col-lg-4">
				 					<label class="card-item-list-name">起点公司</label>
				 					<div class="card-item-list-box clearfix">
				 						<input type="text" class="input-text">
				 					</div>
				 				</li>
				 				<li class="col-xs-12 col-md-4 col-lg-4">
				 					<label class="card-item-list-name">起点公司</label>
				 					<div class="card-item-list-box clearfix">
				 						<input type="text" class="input-text">
				 					</div>
				 				</li>
				 				<li class="col-xs-12 col-md-4 col-lg-4">
				 					<label class="card-item-list-name">起点公司</label>
				 					<div class="card-item-list-box clearfix">
				 						<input type="text" class="input-text">
				 					</div>
				 				</li>
				 				<li class="col-xs-12 col-md-4 col-lg-4">
				 					<label class="card-item-list-name">起点公司</label>
				 					<div class="card-item-list-box clearfix">
				 						<input type="text" class="input-text">
				 					</div>
				 				</li>
				 				<li class="col-xs-12 col-md-4 col-lg-4">
				 					<label class="card-item-list-name">起点公司</label>
				 					<div class="card-item-list-box clearfix">
				 						<input type="text" class="input-text">
				 					</div>
				 				</li> -->
								</ul>
								<!-- <div class="search-btn-box">
				 				 <input type="button" value="查询" class="btn btn-primary" ng-click="execute(btn.event)">{{btn.title}}>
				 				<input type="button" value="清空" class="btn btn-default" ng-click="execute(btn.event)">{{btn.title}}> 
				 				
				 				<a href="javascript:;" class="search-slide-btn"><span></span></a>
				 			</div> -->



							</div>
							<div class="list-table-cont">
								<!-- 页面按钮 -->
								<div class="list-btn-box">
									<!-- 页面按钮开始 -->
									<btn></btn>
									<!-- 页面按钮结束 -->
									<!-- <input type="button" value="新增" class="btn btn-white">
									<input type="button" value="打印标签" class="btn btn-white">
									<input type="button" value="打印签单条码" class="btn btn-white">
									<input type="button" value="打印货运" class="btn btn-white">
									<input type="button" value="下载模版" class="btn btn-white">
									<input type="button" value="导入运单" class="btn btn-white">
									<span class="button-tips"> <input type="button"
										value="补全信息" class="btn btn-white"> <i>6</i>
									</span> -->
								</div>
								<div class="list-table">
									<div class="list-tab-title clearfix">
										<!-- <span>办理托运详细信息</span> -->
										<span>{{subModuleName}}</span>
										<apan>详细信息</span>
										<div class="pagination clearfix">
											<ul class="clearfix">
												<li><a href="">首页</a></li>
												<li><a href="">上一页</a></li>
												<li><a href="">1</a></li>
												<li><a href="">2</a></li>
												<li><a href="">3</a></li>
												<li>···</li>
												<li><a href="">99</a></li>
												<li><a href="">100</a></li>
												<li><a href="">下一页</a></li>
												<li><a href="">尾页</a></li>
												<li>跳转到：</li>
												<li><input type="text"></li>
												<li><input type="button" value="GO"></li>
											</ul>
										</div>
									</div>
									<table ui-grid="tableGrid" ui-grid-pinning ui-grid-selection
										ui-grid-resize-columns ui-grid-pagination>
										<thead>
											<tr>
												<th></th>
											</tr>
											<!-- <tr>
												<th width="10%">序号</th>
												<th width="20%">运单号</th>
												<th width="30%">货号</th>
												<th width="15%">运单状态</th>
												<th width="15%">货物名称</th>
												<th width="10%">收货人</th>
											</tr> -->
										</thead>
										<tbody>
											<tr>
												<td></td>
											</tr>
											<!-- <tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr>
											<tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr>
											<tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr>
											<tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr>
											<tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr>
											<tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr>
											<tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr>
											<tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr>
											<tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr>
											<tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr>
											<tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr>
											<tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr>
											<tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr>
											<tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr>
											<tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr>
											<tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr>
											<tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr>
											<tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr>
											<tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr>
											<tr>
												<td>1</td>
												<td>713993632</td>
												<td>50424-02000210-1001-3632-1</td>
												<td>正常</td>
												<td>配件</td>
												<td>关某</td>
											</tr> -->
										</tbody>
									</table>
								</div>
								<div class="pagination clearfix">
									<ul class="clearfix">
										<li><a href="">首页</a></li>
										<li><a href="">上一页</a></li>
										<li><a href="">1</a></li>
										<li><a href="">2</a></li>
										<li><a href="">3</a></li>
										<li>···</li>
										<li><a href="">99</a></li>
										<li><a href="">100</a></li>
										<li><a href="">下一页</a></li>
										<li><a href="">尾页</a></li>
										<li>跳转到：</li>
										<li><input type="text"></li>
										<li><input type="button" value="GO"></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			// 消息提示调用
			msgShow();
		});
	</script>
</body>
</html>