<!-- 加载内容开始 -->
<section>
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="#">{{moduleName}}</a></li>
            <li class="active">{{subModuleName}}</li>
        </ol>
    </div>
    <!-- 标题栏结束 -->
    <div class="form">
        <div class="form-column">
            <div class="column-group">
                <div class="form-horizontal">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item">
                                <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label" style="margin-bottom: 5px;">位置</label>
                                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 item" style="line-height: 32px;">
                                    <span>{{configureaddr}}</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item">
                                <div class="form-group">
                                    <label class="col-xs-1 col-sm-1 col-md-1 col-lg-1 control-label">版块标题</label>
                                    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 item">
                                        <input type="text" ng-readonly="lookModel" ng-model="title" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 item" ng-repeat="field in phiPlusPagelaoutDetail" style="border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;">
                                <div class="form-group" style="margin-top: 5px;">
                                    <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">权益{{$index+1}}</label>
                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 item">
                                        <cenx4-file-upload ng-model="field.rightPicture" cnex4-multiple="false" files-count="" max-files-count="1"  system-header="uploadPath" cnex4-show-btn="lookModel"></cenx4-file-upload>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">跳转链接</label>
                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 item">
                                        <input type="text" ng-readonly="lookModel" ng-model="field.rightPholink" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-save" ng-click="reset(field.id)">重置</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 图片预览 -->
    </div>
    <div class="text-center page-btn">
        <button class="btn btn-cancel ng-scope" ng-click="back()">取消</button>
        <button class="btn btn-save ng-scope" ng-click="save();" style="">保存</button>
    </div>
</section>
<!-- 加载内容结束-->
<!-- <section>
    标题栏结束
    <p class="results-title no-margin"><i></i><span class="ng-binding">查询</span></p>
    输出内容开始
    <div class="results">
        <div class="content no-tree">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <p class="results-title"><i></i><span>{{subModuleName}}列表</span></p>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    页面按钮开始
                    <btn></btn>
                    页面按钮结束
                </div>
            </div>
            <div class="result-list">
                <div ui-grid="tableGrid" class="grid" ui-grid-pinning ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination ui-grid-auto-resize></div>
            </div>
        </div>
    </div>
</section> -->