 <div class="pgwSlideshow-container">
    <div class="htmleaf-content bgcolor-3">
      <div class="pgwSlideshow wide">
        <div class="ps-list">
         <!--  <span class="ps-arrow ps-prev" style="display: none;">
            <span class="ps-prevIcon"></span>
          </span> -->
          <!-- <ul class="" style="width: 100%; left: 0px; margin-left: 600px;"> -->
          <ul>
            <li data-ng-repeat="file in queue" class="elt_1">
              <span class="ps-item-list">
               	<img data-ng-src="{{file.viewUrl}}">
              </span>
            </li>
          </ul>
          <!-- <span class="ps-arrow ps-next" style="display: none;">
            <span class="ps-nextIcon"></span>
          </span> -->
        </div>
      </div>
    </div>
  </div>