<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div>
		<div>
			<label style=" width: 80px;">员工姓名:</label> <span id="usr"></span>
			<label style=" width: 80px;">现任经理:</label> <span id="now"></span>
			<label style=" width: 80px;">上任经理:</label> <span id="before"></span>
			<label style=" width: 80px;">历任经理:</label> <span id="old"></span>
		</div>
		<BR/>
		<div>
			<label style="width: 80px;">调动：所属公司</label>
			<select>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select>
			<label style=" width: 80px;">任职机构</label>
			<select>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select>
		</div>
	</div>
</body>
</html>