<!-- 加载内容开始 -->
<!-- 提示内容开始 -->
<alert></alert>
<!-- 提示内容结束 -->
<div class="form">
    <div class="form-column" ng-repeat="columnWrap in columnWrapArray ">
        <div class="n-form" ng-if="columnWrap.id == 1">
            <p class="results-title  n-result"><i></i><span class="ng-binding">{{columnWrap.wrapTitle}}</span></p>
        </div>
        <div class="column-group">
            <div class="form-horizontal">
                <div class="container-fluid">
                    <div class="row" style="margin-right: -73%;">
                        <div ng-if="formField.column == columnWrap.id" ng-repeat="formField in formFieldArrayList ">
                            <!-- 密码框 -->
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 item" ng-if="formField.model=='password'" ng-show="formField.isShow">
                                <div class="form-group">
                                    <label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 control-label">{{formField.title}}<span
											class="require"
											ng-if="formField.require == '1' || formField.require=='true' || formField.require=='require'">*</span></label>
                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 item">
                                        <input type="password" ng-readonly="formField.readonly=='readonly' || formField.readonly" ng-model="formField.value" class="form-control" ng-blur="checkData($index);formField.event(formField.value);" ng-class="formField.css" bs-tooltip="formField.errorMsg"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 		<div class="input-group">
		  <input type="text" class="form-control" placeholder="请选择机构">
		  <span class="input-group-btn">
		    <button class="btn btn-default" type="button" bs-aside="aside">选择机构</button>
		  </span>
		</div> -->
    <div class="text-center page-btn">
      
    	<!-- <button class="btn btn-clear" ng-click="$hide()" ng-show="closeId>=0">关闭</button> 
		<button class="btn btn-danger" ng-click="save();disableBtnForSecond($event);" ng-show="editId<0">保存</button>
		<button class="btn btn-danger" ng-click="update();disableBtnForSecond($event);" ng-show="editId>=0">更新</button> -->
		<!-- <button class="btn btn-danger" ng-click="confirm()" ng-show="confirmId>=0">确定</button>  -->
		
		<button class="btn btn-cancel" ng-click="back()" >取消</button>
        <button class="btn btn-save" ng-click="confirm();waitForDbCommint();" >确定</button> 
    </div>
</div>
<!-- 加载内容结束-->