<section>
<!-- 标题栏结束 -->
<div class="form">
    
    				<form  enctype="multipart/form-data">
						<input type="file" file-model="file" accept="text/xml"/>
					<form>
    <!-- 		<div class="input-group">
		  <input type="text" class="form-control" placeholder="请选择机构">
		  <span class="input-group-btn">
		    <button class="btn btn-default" type="button" bs-aside="aside">选择机构</button>
		  </span>
		</div> -->
    <div class="text-center page-btn">
        <button class="btn btn-cancel" ng-click="back()" >取消</button>
        <button class="btn btn-save" ng-click="confirm();waitForDbCommint();" >保存</button>
    </div>
</div>
<!-- 加载内容结束-->
</section>