<!-- 加载内容开始 -->
<section>
	<!-- 提示内容开始 -->
	<alert></alert>
	<!-- 提示内容结束 -->
	<!-- 标题栏开始  -->
	<div class="section-header general">
		<ol class="breadcrumb">
			<li>{{moduleName}}</li>
			<li class="active">{{subModuleName}}</li>
		</ol>
	</div>
	<!-- 标题栏结束 -->
	<div class="section-body">
		<!-- 主要内容开始 -->
		<div class="main-body">
			<!-- 搜索查询开始 -->
			<div ng-show="showSearch" class="search general">
				<search></search>
			</div>
			<!-- 搜索查询结束 -->
<!-- 			<!-- 输出内容开始 -->
<!-- 			<div class="items general"> -->
<!-- 				<div class="content-title"> -->
<!-- 					<div class="row"> -->
<!-- 						<div class="col-xs-4"><h4><span>{{subModuleName}}</span> <span ng-repeat="displayField in displayFields">{{displayField.display}}：{{displayValue[displayField.field]}} </span></h4></div> -->
<!-- 						<div class="col-xs-8"> -->
<!-- 							页面按钮开始 -->
<!-- 							<btn></btn> -->
<!-- 							页面按钮结束 -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 				<div class="row"> -->
<!-- 					<div class="col-xs-12"> -->
<!-- 						<div ui-grid="tableGrid" class="grid" ui-grid-pinning ui-grid-selection ui-grid-resize-columns ui-grid-pagination></div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 输出内容开始 -->
	<div class="results">
		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
				<p class="results-title"><i></i><span>{{subModuleName}}列表</span></p>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
				<!-- 页面按钮开始 -->
				<btn></btn>
				<!-- 页面按钮结束 -->
			</div>
		</div>
		<div class="result-list">
			<div ui-grid="tableGrid" class="grid" ui-grid-pinning ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination></div>
		</div>
	</div>	
			<!-- 输出内容结束-->
		</div>
		<!-- 主要内容结束 -->
	</div>
</section>
<!-- 加载内容结束-->
