<section>
    <!-- 提示内容开始 -->
    <alert></alert>
    <!-- 提示内容结束 -->
    <!-- 输出内容开始 -->
    <div class="results">
        <!-- 左侧结构 -->
        <div class="zTreeDemoBackground left-tree n-left-tree">
            <div ui-grid="tableGrid_left" class="grid" ui-grid-selection ui-grid-tree-view></div>
        </div>
        <!-- 右侧结构 -->
        <div class="l-content n-right-content">
            <!-- <div class="result-list">
                <div ui-grid="tableGrid" class="grid" ui-grid-pinning ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination ui-grid-auto-resize ui-grid-exporter></div>
            </div> -->
            <div ui-grid="tableGrid_right" class="grid" ui-grid-selection></div>
        </div>
    </div>
</section>