<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">提示</h4>
      </div>
      <div class="modal-body">
			<span>{{context}}</span>	
      </div>
      <div class="modal-footer">
        	<button class="btn btn-clear" ng-click="$hide()">取消</button> 
			<button class="btn btn-danger" ng-click="commit();$hide()">确定</button>
      </div>
    </div>
  </div>
</div>