<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" ng-bind-html="title"></h4>
      </div>
      <div class="modal-body">
       <div class="form">
		<div class="form-column">
			<div class="column-group">
				<form class="form-horizontal">
					<div class="container-fluid">
							<div class="row">
							<div ng-repeat="formField in formFieldArrayList ">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 item">
									<div class="form-group">
										<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 control-label">{{formField.title}}<span class="require">*</span></label>
										<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 item">
											<input type="password" ng-model="formField.value" class="form-control"
												ng-blur="checkData($index);formField.event(formField.value);" ng-class="formField.css" bs-tooltip="formField.errorMsg"/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
      </div>
      <div class="modal-footer">
        	<button class="btn btn-clear" ng-click="$hide()">取消</button> 
			<button class="btn btn-danger" ng-click="confirm()">确定</button> 
      </div>
    </div>
  </div>
</div>