<!-- 加载内容开始 -->
<section>
	<!-- 标题栏开始  -->
	<div class="page-breadcrumb">
		<ol class="breadcrumb">
			<li><a href="#" ><span ng-bind="moduleName"></span></a></li>
			<li class="active"><span ng-bind="subModuleName"></span></li>
		</ol>
	</div>
	<!-- 标题栏结束 -->
	<div class="form">
		<div class="form-column">
			<div class="column-group">
				<div class="form-horizontal">
					<div class="container-fluid">
						<div class="row">
							<iframe src='https://view.officeapps.live.com/op/embed.aspx?src=http://112.124.12.83/api_image/busi/20160920/8881f010-f0c7-4ac0-bbf7-09454268a7f3.doc' width='1366px' height='623px' frameborder='0'>
							This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by 
							<a target='_blank' href='http://office.com/webapps'>Office Online</a>.
							</iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center page-btn">
        	<button class="btn btn-clear" ng-click="back()">返回</button> 
		</div>
	</div>
</section>
<!-- 加载内容结束-->