<section>
<div class="chart-body" ng-controller="ScoreDataChartController">
        <div class="col-md-12  chart-item">
	        <div> <input type="radio" name="type" value="1" checked ng-click="loadChartType('1')">当年  
	              <input type="radio" name="type" value="0" ng-click="loadChartType('0')">上一年
	        </div>
	        <div>
	           <div>
	              <span ng-bind="year"></span>年积分总发放量<br>
	              <span ng-bind="gain"></span>
	           </div>
	           <div>
	              <span ng-bind="year"></span>年积分总消耗量<br>
	              <span ng-bind="consume"></span>
	           </div>
	        </div>
        </div>
        <div>
         <span ng-bind="year"></span>年积分消耗比<span ng-bind="than"></span>%
        </div>
        <div class="chart-bg">
            <div id="gainChart" class="item" style="width:50%;height:400px;"></div>
        </div> 
        <div class="chart-bg">
            <div id="consumeChart" class="item" style="width: 50%;height:400px;"></div>
        </div> 
</div>

    <!-- 标题栏结束 -->
    <p class="results-title no-margin"><i></i><span class="ng-binding">查询</span></p>
    <div class="search-area clearfix">
        <div class="pull-right search-btn-group">
            <a href="javascript:;" class="more-btn showMore-btn" ng-if="showMoreBtn" ng-click="showMoreSearch()" title="显示更多筛选条件"><i class="animated infinite slideInDown"></i></a>
            <a href="javascript:;" class="more-btn hideMore-btn" ng-if="hideMoreBtn" ng-click="hideMoreSearch()" title="隐藏更多筛选条件"><i class="animated infinite slideInUp"></i></a>
            <button type="submit" class="btn btn-danger btn-search" ng-click="search();disableBtnForSecond($event)">查询</button>
            <button type="button" class="btn btn-clear" ng-click="resetSearch()" onclick="cleanAll()">清空</button>
        </div>
        <div class="column-group search-box">
            <search></search>
        </div>
    </div>
    <!-- 输出内容开始 -->
    <div class="results">
        <div class="content no-tree">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <p class="results-title"><i></i><span>{{subModuleName}}列表</span></p>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <!-- 页面按钮开始 -->
                    <btn></btn>
                    <!-- 页面按钮结束 -->
                </div>
            </div>
            <div class="result-list">
                <div ui-grid="tableGrid" class="grid" ui-grid-pinning ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-pagination ui-grid-auto-resize></div>
            </div>
        </div>
    </div>
</section>