body,div,ul,li,h3,h4,h2,p{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@font-face {
  font-family: 'iconfont';  /* project id 559179 */
  src: url('http://at.alicdn.com/t/font_559179_cl1lhid7mifnu3di.eot');
  src: url('http://at.alicdn.com/t/font_559179_cl1lhid7mifnu3di.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_559179_cl1lhid7mifnu3di.woff') format('woff'),
  url('http://at.alicdn.com/t/font_559179_cl1lhid7mifnu3di.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_559179_cl1lhid7mifnu3di.svg#iconfont') format('svg');
}
.icon{
	font-family: 'iconfont';
	font-style: normal;
}
.header{
	height: 48px;
	background: #fff;
	border-bottom: 1px solid #f1f1f1;
	position: relative;
	z-index: 10;
}
.back{
	width: 48px;
	color: #888;
}
.back,.title{
	float: left;
	height: 48px;
	line-height: 48px;
	text-align: center;
}
.title{
	width: calc(100% - 96px);
	color: #231815;
	font-weight: bold;
}
.tab{
	height: 90px;
	background: #fff;
	box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.1);
	overflow: hidden;
	overflow-x: scroll;
}
.next{
	position: fixed;
	right: 0;
	top: 48px;
	height: 90px;
	width: 40px;
	background-color: rgba(255,255,255,0.5);
}
.tab-content{
	height: 100%;
	width: 810px;
}
.tab-content .tab-item{
	height: 100%;
	width: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	float: left;
}
.icon-tab{
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.tab1{
	background-image: url('img/kaitong.png');
}
.tab-s1{
	background-image: url('img/kaitong_s.png');
}
.tab2{
	background-image: url(img/huikui.png);
}
.tab-s2{
	background-image: url(img/huikui_s.png);
}
.tab3{
	background-image: url(img/quanyi.png);
}
.tab-s3{
	background-image: url(img/quanyi_s.png);
}
.tab4{
	background-image: url(img/youhui.png);
}
.tab-s4{
	background-image: url(img/youhui_s.png);
}
.tab5{
	background-image: url(img/haigou.png);
}
.tab-s5{
	background-image: url(img/haigou_s.png);
}
.tab6{
	background-image: url(img/huodong.png);
}
.tab-s6{
	background-image: url(img/huodong_s.png);
}
.tab7{
	background-image: url(img/zhuanxian.png);
}
.tab-s7{
	background-image: url(img/zhuanxian_s.png);
}
.tab8{
	background-image: url(img/baozhang.png);
}
.tab-s8{
	background-image: url(img/baozhang_s.png);
}
.tab9{
	background-image: url(img/qidai.png);
}
.tab-s9{
	background-image: url(img/qidai_s.png);
}
.icon-title{
	color: #666;
	font-size: 12px;
	margin-top: 5px;
}
.select{
	background: #cba75f;
}
.color_w{
	color: #fff;
}
.content{
	padding: 25px 15px 100px 15px;
}
h3{
	margin-top: 20px;
	margin-bottom: 10px;
	color: #333;
}
h4{
	color: #555;
	font-size: 14px;
}
.duanluo{
	color: #666;
	font-size: 14px;
	line-height: 22px;
	margin: 8px 0px;
}
.content img{
	border-radius: 5px;
	box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.1);
}
.yellow{
	color: #cba75f;
}
.hide{
	display: none;
}
.red{
	color: #f28383;
}