.mint-header{
  background-color: #ffffff;
  color: $text-black-color;
  position: relative;
  &:after {
    @include border-x($bottom: 0, $top: auto);
  }
  .mint-header-title{
    font-size: 18px;
    color: $text-header-color;
    line-height: 1;
  }
  &.is-fixed {
    z-index: 10;
  }
}
